.Form-container {
    width: auto;
    /* put form in center of screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Form-container .logo {
    margin: -3rem auto;
}
.Form-container .form-control {
    background: white;
    box-shadow: 0 0 2rem #e6e9f9;
    padding: 1rem;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 20px;
    color: #4d4d4d;
    margin: 1rem;
}
.Form-container .form-control input {
    outline: none;
    border: none;
}
.Form-container .form-control input::placeholder,
.Form-container .form-control input::-webkit-input-placeholder {
    color: black;
    font-size: 0.9rem;
}
.Form-container .form-control ion-icon {
    margin-bottom: -0.2rem;
}
.Form-container .submit-button {
    padding: 1rem;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
}