{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'controls/includes/sidebar-navbar.css' %}">
<link rel="stylesheet" href="{% static 'controls/dashboard.css' %}">
{% endblock %}

{% block navbar %}
{% include "controls/includes/sidebar-navbar.html" %}
{% endblock %}

{% block content %}
    <section class="Control-container">
      <div class="Control-form">
        <form action="{% url 'door_up-post' %}" method="POST">
          <button id="up_button" type="submit">
            <div class="button-icon">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
          </button>
        </form>
        <form action="{% url 'door_down-post' %}" method="POST">
          <button id="down_button" type="submit">
            <div class="button-icon">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </div>
          </button>
        </form>
        <label>Door Status: <span id="status_text">placeholder</span></label>
      </div>
    </section>

    <section class="Detail-container">
      <form class="Detail-form" action="{% url 'detail-post' %}" method="POST">
        {% csrf_token %}
        {% for form_field in detail_form %}
          <div class="form-control">
            {{ form_field.label_tag }}
            {{ form_field }}
            {{ form_field.errors }}
          </div>
        {% endfor %}
        <button class="submit-button" type="submit">Save</button>
      </form>
    </section>
{% endblock %}