{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'controls/includes/sidebar-navbar.css' %}">
<link rel="stylesheet" href="{% static 'controls/dashboard.css' %}">
{% endblock %}

{% block navbar %}
{% include "controls/includes/sidebar-navbar.html" %}
{% endblock %}

{% block js %}
<script src="{% static 'controls/includes/sidebar-active.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="Form-container">
      <div class="Control-form">
        <h1>Door Controls</h1>
        <form action="{% url 'door_up-post' %}" method="POST">
          <button class="move-button" type="submit">
            <div class="button-icon">
              <ion-icon name="arrow-up-outline"></ion-icon>
            </div>
          </button>
        </form>
        <form action="{% url 'door_down-post' %}" method="POST">
          <button class="move-button" type="submit">
            <div class="button-icon">
              <ion-icon name="arrow-down-outline"></ion-icon>
            </div>
          </button>
        </form>
        <label>Door Status: <span id="status_text">placeholder</span></label>
      </div>

      <hr>

      <div>
        <form class="Detail-form" action="{% url 'detail-post' %}" method="POST">
          {% csrf_token %}

          <div class="form-control">
            {{ detail_form.automation.label_tag }}
            {{ detail_form.automation }}
            {{ detail_form.automation.errors }}
          </div>
          <div class="form-control">
            {{ detail_form.auxillary.label_tag }}
            {{ detail_form.auxillary }}
            {{ detail_form.auxillary.errors }}
          </div>

          <hr>

          <h1>Offset Values</h1>
          <p>(+ or - Minutes)</p>
          <span>Current Time: {{ active_times.current_time }}</span>
          <div class="form-control">
            {{ detail_form.sunrise_offset.label_tag }}
            <span>{{ active_times.sunrise }}</span>
            {{ detail_form.sunrise_offset }}
            {{ detail_form.sunrise_offset.errors }}
          </div>
          <div class="form-control">
            {{ detail_form.sunset_offset.label_tag }}
            <span>{{ active_times.sunset }}</span>
            {{ detail_form.sunset_offset }}
            {{ detail_form.sunset_offset.errors }}
          </div>

          <button class="submit-button" type="submit">Save</button>
        </form>
      </div>
    </section>
{% endblock %}