{% extends "base.html" %}
{% load static %}

{% block title %}System Config{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'controls/includes/sidebar-navbar.css' %}">
{% endblock %}

{% block navbar %}
{% include "controls/includes/sidebar-navbar.html" %}
{% endblock %}

{% block content %}
    <h1>Config Page</h1>

    <hr>

    <section id="SystemConfig-form">
      <form action="{% url 'systemconfig-page' %}" method="POST">
        {% csrf_token %}
        {% for form_field in systemconfig_form %}
          <div class="form-control {% if form_field.errors %}invalid{% endif %}">
            {{ form_field.label_tag }}
            {{ form_field }}
              <span class="help-text">{{ form_field.help_text }}</span>
            {{ form_field.errors }}
          </div>
        {% endfor %}
        <button>Save</button>
      </form>
    </section>
{% endblock %}