{% extends "base.html" %}
{% load static %}

{% block title %}Update{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'controls/includes/sidebar-navbar.css' %}">
<link rel="stylesheet" href="{% static 'controls/update.css' %}">
{% endblock %}

{% block navbar %}
{% include "controls/includes/sidebar-navbar.html" %}
{% endblock %}

{% block js %}
<script src="{% static 'controls/includes/sidebar-active.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="Form-container">
        {% if update_check.has_update %}
            <h1>Update Available</h1>
            <p>{{ update_check.local_version }} -> {{ update_check.web_version }}</p>
            <button, class="update-button", onclick="execute_update()">Update</button>
        {% else %}
            <h1>No Updates</h1>
            <p>There are no updates available</p>
        {% endif %}
    </section>
    <script>
        const updateSocket = new WebSocket('ws://'+ window.location.host+ '/ws/api/update/');

        window.addEventListener('beforeunload', function() {
            stopWebSocket();
        });

        function execute_update() {
            updateSocket.send(JSON.stringify({
                'message': "update"
            }));
        }
    </script>
{% endblock %}