{% extends "base.html" %}
{% load static %}

{% block title %}Update{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'controls/includes/sidebar-navbar.css' %}">
<link rel="stylesheet" href="{% static 'controls/update.css' %}">
{% endblock %}

{% block navbar %}
{% include "controls/includes/sidebar-navbar.html" %}
{% endblock %}

{% block js %}
<script src="{% static 'controls/includes/sidebar-active.js' %}"></script>
<script src="{% static 'controls/update-ops.js' %}"></script>
{% endblock %}

{% block content %}
    <section class="Form-container">
        {% if update_check.has_update %}
            <h1>Update Available</h1>
            <h2>{{ update_check.local_version }} -> {{ update_check.web_version }}</h2>
            <p>{{ update_check.description }}</p>
            <button id="download-button" onclick="sendUpdateCommand('prepare_update')">Download</button>
        {% else %}
            <h1>Up To Date</h1>
            <h2>{{ update_check.local_version }}</h2>
            <p>Latest version is currently installed</p>
        {% endif %}
    </section>
    <section class="Form-container" id="update-popup">
        <h1 id="popup-title">Unknown</h1>
        <div id="popup-message">
            <h2></h2>
            <p></p>
        </div>
        <div id="success-buttons">
            <button onclick="sendUpdateCommand('update')">
                <a href="{% url 'logout' %}">Update</a>
            </button>
            <button>
                <a href="{% url 'dashboard-page' %}">Cancel</a>
            </button>
        </div>
        <div id="error-buttons">
            <button>
                <a href="{% url 'update-page' %}">Close</a>
            </button>
        </div>
    </section>
{% endblock %}