.container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .container {
        /* small screen, nav gets in way */
        margin-bottom: 5rem;
    }
}
/* Large screens */
@media only screen and (min-width: 600px) {
    .container {
        /* small screen, nav gets in way */
        margin-bottom: 0;
    }
}

/* Form containers */
.Form-container {
    background: #f1f7fe;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: 0 0 2rem #e6e9f9;
    margin: auto;
    text-align: center;
}

/* Form elements */
.Control-form,
.Detail-form {
    display: flex;
    flex-direction: column;
    gap: .25rem
}
.Control-form label {
    padding-top: .5rem;
}

/* Up and down arrow buttons */
.move-button {
    display: table-cell;
    border: none;
    outline: 2px solid #e6e9f9;
    background: #f1f7fe;
    font-size: 2rem;
    color: #3f51b5;
}
.move-button .button-icon ion-icon {
    vertical-align: middle;
}
.move-button:hover {
    color: #1a237e;
    outline: 2px solid #d8dcf4;
}
.move-button:active {
    color: #000051;
    outline: 2px solid #c5cae9;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
}

.Detail-form .submit-button {
    padding: .5rem;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
  }

