.Form-container {
    text-align: center;
}

/* Form elements */
.Control-form,
.Detail-form {
    display: flex;
    flex-direction: column;
    gap: .25rem
}
.Control-form label {
    padding-top: .5rem;
}

/* Up and down arrow buttons */
.move-button {
    border: none;
    outline: 2px solid #e6e9f9;
    background: #f1f7fe;
    font-size: 2rem;
    color: #3f51b5;
    margin: .2rem auto;
    border-radius: 25%;
}
.move-button .button-icon ion-icon {
    vertical-align: middle;
}
.move-button:hover {
    color: #1a237e;
    outline: 2px solid #d8dcf4;
}
.move-button:active {
    color: #000051;
    outline: 2px solid #c5cae9;
}

hr {
    border: 0;
    height: 2px;
    background: #333;
    min-width: 100%;
}

h1 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 500;
    color: #3e4684;
}

p {
    margin-top: -1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #3e4684;
}

.form-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
}
.form-control input[type=number] {
    padding: .5em 0;
    border: 1px solid #e6e9f9;
    border-radius: 30px;
    background: #f1f7fe;
    box-shadow: 0 0 2em #e6e9f9;
    width: 25%;
    min-width: 100px;
    text-align: center;
}
.form-control input[type=checkbox] {
    width: auto;
    min-width: 0;
    text-align: left;
}

.Detail-form .submit-button {
    padding: .5rem;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
    margin-top: .5rem;
  }
.Detail-form .submit-button:hover {
    background: #1a237e;
}

/* Overlay Functionality */
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}
#loading-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.loading-spinner {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-top: 2px solid #3498db;
    border-right: 2px solid #3498db;
    border-bottom: 2px solid #3498db;
    border-left: 2px solid #ccc;
    animation: loading-spinner 1s linear infinite;
    display: inline-block;
}
@keyframes loading-spinner {
    to {transform: rotate(360deg);}
}
#loading-text {
    font-size: 16px;
    color: #3498db;
    display: none;
    margin-top: 20px;
}
