h1 {
    text-align: center;
}

body {
    overflow: auto;
}

.errorlist {
    list-style: none;
    margin: 0.5rem auto -0.5rem auto;
    padding: .25rem;
    color: #d6000b;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #d6000b;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
}
.invalid-indicator {
    color: #d6000b;
}

/* Help text does not display properly on small screen size */
.field-help {
    display: inline-block;
    margin-left: 0.5rem;
    position: relative;
}

.field-help .help-text {
    display: none;
    position: absolute;
    background: #e1eaf5;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #4d4d4d;
    width: 200px;
    text-align: center;
}

.SystemConfig-form {
    background: #f1f7fe;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    text-align: center;
}

.SystemConfig-form .form-control {
    margin: 1em 0;
    text-align: center;
}


.SystemConfig-form .form-control label {
    display: inline-block;
    width: 25%;
    min-width: 100px;
    text-align: right;
    margin-right: 1em;
    font-weight: 600;
}

.SystemConfig-form .form-control input,
.SystemConfig-form .form-control select {
    padding: .5em 0;
    border: 1px solid #e6e9f9;
    border-radius: 30px;
    background: #f1f7fe;
    box-shadow: 0 0 2em #e6e9f9;
    width: 25%;
    min-width: 100px;
    display: inline-block;
    text-align: center;
}

/* display no help text when page loads */
.SystemConfig-form .form-control .field-help .help-text {
  display: none;
}

/* help buttons */
.SystemConfig-form .form-control .help-button {
  width: 25px;
  height: 25px;
  border-style: none;
  border-radius: 50%;
  background: #3e4684;
}

.SystemConfig-form .form-control .help-button svg {
  width: 15px;
  height: 15px;
  color: white;
}
/* ******************* */

/* Small screens */
@media only screen and (max-width: 600px) {
  #form {
    margin: -1rem auto -1rem auto;
  }
  .SystemConfig-form {
    margin: 0 auto calc(100vh - 60%) auto;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  #form {
    margin: .5rem auto 1rem auto;
  }
  .SystemConfig-form {
    margin: 0 auto;
  }
}

.SystemConfig-form .submit-button {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
}

button {
    cursor: pointer;
}