.Form-container {
    text-align: center;
}
.Form-container button {
    padding: .5rem;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
    margin-top: .5rem;
}
.Form-container button:hover {
    background: #1a237e;
}
.Form-container button a {
    text-decoration: none;
    color: white;
}

/* Animations */
#download-button {
    position: relative;
    overflow: hidden;
}
#download-button.loading::after {
    content: ""; /* Adds an empty pseudo-element */
    position: absolute; /* Positions the pseudo-element absolutely */
    top: 0; /* Aligns the top of the pseudo-element with the top of the button */
    left: -100%; /* Initially positions the pseudo-element outside the button */
    width: 100%; /* Sets the width of the pseudo-element */
    height: 100%; /* Sets the height of the pseudo-element */
    background: linear-gradient(to right, #3e4684, #64b5f6, #3e4684); /* Defines the gradient (blue shades) */
    animation: loading 2s infinite; /* Applies the loading animation */
}
@keyframes loading {
    0% {
        left: -100%; /* Initial position */
    }
    100% {
        left: 100%; /* Final position */
    }
}

/* Pop up stuff */
#update-popup {
    display: none;
}

#popup-message {
    display: none
}

#success-buttons {
    display: none;
}

#error-buttons {
    display: none;
}