.Form-container {
    text-align: center;
}

/* how to change style of a tag */
.Form-container button {
    text-decoration: none;
    padding: .5rem;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    width: 100%;
    margin-top: .5rem;
}

.update-button {
    background: #32de84
}
.cancel-button {
    background: #ff4d4d;
}

.download-button:hover {
    background: #1a237e;
}

/* FIX ANIMATIONS */
.update-button:active {
    border: 2px solid #3e4684;
    border-radius: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* FIX POSITION */
#update-popup {
    display: none;
    position: fixed;
    z-index: 1;
}

#error-buttons {
    display: none;
}